h1= id
a.back(href="/category/" + category()) Back to #{category()}
form
  ul.data
    - each v, k in data
      li
        strong= k + ': '
        input(type='text', value=v, name=k)
        br
button Save
.contents!= content_to_html()
